
<%= render 'userinfo',users: @users %>
<%= render 'books/newbook', book: @book %>

<h1>Books</h1>


<% @books.each do |book| %>

<p>Title</p>
<span><%= link_to book.title, book_path(book.id) %></span>

<p>Opinion</p>
<span><%= book.body %></span>


<%= image_tag @user.get_profile_image(100, 100) %>







<% end %>
